<div *ngIf="entity">
  <h2>{{ entity.name }} - Détails</h2>

  <form class="needs-validation" name="myForm" #myForm="ngForm" novalidate >

  
  <div class="row">
    <div class="col-12 col-md">
        <div class="card">
            <div class="card-header">
              Informations générales
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-6 col-md">

                        <div class="row">

                            <div class="col-6 ">
                                <label for="nom">Nom :*</label>
                            </div>

                            <div class="col-6 ">
                                <input type="text" class="form-control" id="nom" name="name" placeholder="" [(ngModel)]="entity.name" required #uname="ngModel" >

                                    <div *ngIf="uname.invalid" style="color:red;"> 
                                        Le nom es requis. 
                                    </div> 
                        
                           
                          
                            </div>

                      </div>

                      <div class="row">                      

                            <div class="col-6 ">
                                <label for="form">Forme d'entité :</label>
                            </div>

                            <div class="col-6 ">
                                <input type="text" class="form-control" id="form" name="form" placeholder="" [(ngModel)]="entity.form" >
                            </div>

                      </div>    

                      <div class="row">                      

                          <div class="col-6 ">
                              <label for="adresse">Adresse :</label>
                          </div>

                          <div class="col-6 ">
                              <textarea  class="form-control"  id="adresse"  name="adresse" placeholder="" [(ngModel)]="entity.address" ></textarea>
                          </div>

                    </div>    

                    </div>
                    <div class="col-6 col-md">


                        <div class="row">

                            <div class="col-6 ">
                                <label for="dissolue">Dissolue :</label>
                            </div>

                            <div class="col-6 ">
                                <input type="checkbox"  id="dissolue" name="dissolue"  [(ngModel)]="entity.dissolue"  ng-checked="entity.dissolue">
                        
                           
                          
                            </div>

                      </div>

                      <div class="row">                      

                            <div class="col-6 ">
                                <label for="date_creation">Date de création :</label>
                            </div>

                            <div class="col-6 ">
                                <input type="text" class="form-control" id="date_creation" name="date_creation" placeholder="" [(ngModel)]="entity.date_creation" >
                            </div>

                      </div>    

                      <div class="row">                      

                          <div class="col-6 ">
                              <label for="date_fiscal">Date de fin d'année fisale :</label>
                          </div>

                          <div class="col-6 ">
                              <input type="text" class="form-control" id="date_fiscal" name="date_fiscal" placeholder="" [(ngModel)]="entity.date_fiscal" >
                          </div>

                    </div>    


                    <div class="row">                      

                        <div class="col-6 ">
                            <label for="adresse">Nature des activités :</label>
                        </div>

                        <div class="col-6 ">
                            <textarea  class="form-control"  id="activities"  name="activities" placeholder="" [(ngModel)]="entity.activities" ></textarea>
                        </div>

                  </div>    





                    </div>
                </div>  


            </div>
          </div>
    
    
    
    </div>
  </div>  

  <div class="row">
    <div class="col-12 col-md">

        <div class="col-6 ">
            <div class="card">
                <div class="card-header">
                  Actionnaires
                </div>
                <div class="card-body">    
                </div>
           </div>             



        </div>

        <div class="col-6 ">
            <div class="card">
                <div class="card-header">
                  Directeurs et officiers
                </div>
                <div class="card-body">    
                </div>
           </div>     


           
        </div>


    </div>
  </div>       
  
  <div class="row">
      <div class="col-12 col-md">
          <button (click)="goBack()">Annuler</button>
          <button (click)="save()" [hidden]="uname.invalid">Sauvegarder</button>
      </div>
    </div>    

  </form>