<div *ngIf="entity">
  <h2>Détails : {{ entity.name }}</h2>

  <form class="needs-validation" name="myForm" #myForm="ngForm" novalidate >

  
  <div class="row">
    <div class="col-12 col-md">
        <div class="card">
            <div class="card-header">
              Informations générales
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-6 col-md">

                        <div class="row">

                            <div class="col-6 ">
                                <label for="nom">Nom :*</label>
                            </div>

                            <div class="col-6 ">
                                <input type="text" class="form-control" id="nom" name="name" placeholder="" [(ngModel)]="entity.name" required #uname="ngModel" >

                                    <div *ngIf="uname.invalid" style="color:red;"> 
                                        Le nom es requis. 
                                    </div> 
                            </div>




                   
                       



                      </div>

                      <div class="row">                      

                            <div class="col-6 ">
                                <label for="form">Forme d'entité :</label>
                            </div>

                            <div class="col-6 ">
                                <input type="text" class="form-control" id="form" name="form" placeholder="" [(ngModel)]="entity.form" >
                            </div>

                      </div>    

                      <div class="row">                      

                          <div class="col-6 ">
                              <label for="adresse">Adresse :</label>
                          </div>

                          <div class="col-6 ">
                              <textarea  class="form-control"  id="adresse"  name="adresse" placeholder="" [(ngModel)]="entity.address" ></textarea>
                          </div>

                    </div>    

                    </div>
                    <div class="col-6 col-md">


                        <div class="row">

                            <div class="col-6 ">
                                <label for="dissolue">Dissolue :</label>
                            </div>

                            <div class="col-6 ">
                                <input type="checkbox"  id="dissolue" name="dissolue"  [(ngModel)]="entity.dissolue"  ng-checked="entity.dissolue">
                        
                           
                          
                            </div>

                      </div>

                      <div class="row">                      

                            <div class="col-6 ">
                                <label for="date_creation">Date de création :</label>
                            </div>

                            <div class="col-6 ">
                                <input type="text" class="form-control" id="date_creation" name="date_creation" placeholder="" [(ngModel)]="entity.date_creation" >
                            </div>

                      </div>    

                      <div class="row">                      

                          <div class="col-6 ">
                              <label for="date_fiscal">Date de fin d'année fisale :</label>
                          </div>

                          <div class="col-6 ">
                              <input type="text" class="form-control" id="date_fiscal" name="date_fiscal" placeholder="" [(ngModel)]="entity.date_fiscal" >
                          </div>

                    </div>    


                    <div class="row">                      

                        <div class="col-6 ">
                            <label for="adresse">Nature des activités :</label>
                        </div>

                        <div class="col-6 ">
                            <textarea  class="form-control"  id="activities"  name="activities" placeholder="" [(ngModel)]="entity.activities" ></textarea>
                        </div>

                  </div>    





                    </div>
                </div>  


            </div>
          </div>
    
    
    
    </div>
  </div>  

  <div class="row" style="margin-top:20px;">
  

        <div class="col-6 ">
            <div class="card">
                <div class="card-header">
                  Actionnaires
                </div>
                <div class="card-body">    

                    <div  class="row">
                            <div class="col-8">
                                <p><strong>Nom</strong></p>
                            </div> 
                            
                            <div class="col-4">
                                <p><strong>%</strong></p>
                            </div>
                    </div>

                    <div  class="row" style="    margin-bottom: 5px;"  *ngFor="let stockholder of entity.stockholders;let i = index">
                            <div class="col-8">
                                <input type="text" class="form-control"  name="stockholder_name[{{i}}]" placeholder="" [(ngModel)]="stockholder.name" >
                                
                            </div> 
                            
                            <div class="col-2">
                                <input type="text" class="form-control"  name="stockholder_percent[{{i}}]" placeholder="" [(ngModel)]="stockholder.percent" >
                            </div>

                            <div class="col-2">
                                    <button class="btn btn-danger" style="margin:0px;" (click)="delStockholder(i)">x</button>
                            </div>
                           
                    </div>
                    <div class="row">

                        <div class="col-10">
                                <div *ngIf="entity.stockholders.length == 0" style="color:red;"> 
                                        Un actionnaire es requis. 
                                    </div> 
                        </div>   
                        <div class="col-2">
                                <button class="btn btn-primary"  style="margin:0px;floar:right;" (click)="addStockholder()">+</button>
                        </div>   
                    
                    </div>    
                    
                

                </div>
           </div>             



        </div>

        <div class="col-6 ">
            <div class="card">
                <div class="card-header">
                  Directeurs et officiers
                </div>
                <div class="card-body">    



                        <div  class="row">
                                <div class="col-8">
                                    <p><strong>Rôle</strong></p>
                                </div> 
                                
                                <div class="col-4">
                                    <p><strong>Nom</strong></p>
                                </div>
                        </div>
    
                        <div  class="row" style="    margin-bottom: 5px;"  *ngFor="let director of entity.directors;let i = index">
                               
                                <div class="col-5">
                                        <input type="text" class="form-control"  name="director_role[{{i}}]" placeholder="" [(ngModel)]="director.role" >
                                </div>
                            
                                <div class="col-5">
                                    <input type="text" class="form-control"  name="director_name[{{i}}]" placeholder="" [(ngModel)]="director.name" >
                                    
                                </div> 
 
                                <div class="col-2">
                                        <button class="btn btn-danger" style="margin:0px;" (click)="delDirector(i)">x</button>
                                </div>
                               
                        </div>
                        <div class="row">
    
                            <div class="col-10">
                                    <div *ngIf="entity.directors.length == 0" style="color:red;"> 
                                            Un directeur es requis. 
                                        </div> 
                            </div>   
                            <div class="col-2">
                                    <button class="btn btn-primary"  style="margin:0px;" (click)="addDirector()">+</button>
                            </div>   
                        
                        </div>    
                        
                    
    



                </div>
           </div>     


           
        </div>


  </div>       
  
  <div class="row">
      <div class="col-12 col-md">
          <button (click)="goBack()">Annuler</button>
          <button (click)="save()" [hidden]="uname.invalid || entity.directors.length == 0 || entity.stockholders.length == 0 ">Sauvegarder</button>
      </div>
    </div>    

  </form>